@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Paytone+One&display=swap');

*{
    background-color: #aeffff;
  }
  
  .lockscreen {
    position: absolute;
    transform: translate(22rem, 8rem);
    border: black 0.1rem solid;
    padding: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  label{
    font-size: 2rem;
    font-family: 'Paytone One';
  }
  input{
    display: block;
    padding-bottom: 0.3rem;
    font-family: 'Paytone One';
  }
  
  .lockscreen  h1 {
    text-align: center;
    font-family: 'Paytone One';
  }