form {
  width: 200px;
  margin: 0 auto;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: whitesmoke;
}

button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}
*{
  background: SteelBlue;
}
body{
  position: absolute;
  left: 33rem;
  bottom: 12rem;
}
