@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Paytone+One&family=Playfair+Display&display=swap');

*{
    background-color: #aeffff;
  }

  .lockscreen {
    position: absolute;
    transform: translate(22rem, 8rem);
    border: black 0.1rem solid;
    padding: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  label{
    font-size: 2rem;
    font-family: 'Playfair Display';
  }
  input{
    padding-bottom: 0.3rem;
    font-family: 'Playfair Display';
    position: absolute;
    left: 12.5rem;
    justify-content: center;
    align-items: center;
  }

  .lockscreen  h1 {
    text-align: center;
    font-family: 'Playfair Display';
  }

.lockscreen label{
  display: flex;
  justify-content: center;
  align-items: center;
}
